<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kfgs.kpmanage.mapper.GradeUserinfoMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.kfgs.kpmanage.entity.GradeUserinfo">
                    <result column="ID" property="id" />
                    <result column="NAME" property="name" />
                    <result column="EMAIL" property="email" />
                    <result column="POSITION" property="position" />
                    <result column="DEPARTMENT" property="department" />
                    <result column="ISDAFEN" property="isdafen" />
                    <result column="HIREDATE" property="hiredate" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            ID, NAME, EMAIL, POSITION, DEPARTMENT, ISDAFEN, HIREDATE
        </sql>

</mapper>
