<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kfgs.kpmanage.mapper.GradeRelationMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.kfgs.kpmanage.entity.GradeRelation">
                    <result column="EXAMINER" property="examiner" />
                    <result column="CANDIDATE" property="candidate" />
                    <result column="TYPE" property="type" />
                    <result column="GROUPS" property="groups" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            EXAMINER, CANDIDATE, TYPE, GROUPS
        </sql>

</mapper>
