<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kfgs.kpmanage.mapper.GradeTotalsMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.kfgs.kpmanage.entity.GradeTotals">
                    <result column="CANDIDATE" property="candidate" />
                    <result column="REGULAR" property="regular" />
                    <result column="PERSONAL" property="personal" />
                    <result column="TOTAL" property="total" />
                    <result column="TYPE" property="type" />
                    <result column="EXAMINER" property="examiner" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            CANDIDATE, REGULAR, PERSONAL, TOTAL, TYPE, EXAMINER
        </sql>

</mapper>
