<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kfgs.kpmanage.mapper.GradeAllMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.kfgs.kpmanage.entity.GradeAll">
                    <result column="ID" property="id" />
                    <result column="SCORE" property="score" />
                    <result column="HIGHER" property="higher" />
                    <result column="SAME" property="same" />
                    <result column="LOWER" property="lower" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            ID, SCORE, HIGHER, SAME, LOWER
        </sql>

</mapper>
