<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kfgs.kpmanage.mapper.GradeExaminationMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.kfgs.kpmanage.entity.GradeExamination">
                    <result column="EXA_ID" property="exaId" />
                    <result column="EXAMINATIONQUESTIONS" property="examinationquestions" />
                    <result column="OWNER" property="owner" />
                    <result column="SAMEWORK" property="samework" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            EXA_ID, EXAMINATIONQUESTIONS, OWNER, SAMEWORK
        </sql>

        <select id="getExamDetail" resultType="com.kfgs.kpmanage.entity.GradeExamination">
            select * from GRADE_EXAMINATION where owner=#{owner}
        </select>


</mapper>
