<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kfgs.kpmanage.mapper.GradeRelationMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.kfgs.kpmanage.entity.GradeRelation">
                    <result column="EXAMINER" property="examiner" />
                    <result column="CANDIDATE" property="candidate" />
                    <result column="TYPE" property="type" />
                    <result column="GROUPS" property="groups" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            EXAMINER, CANDIDATE, TYPE, GROUPS
        </sql>

    <select id="getRelationList" resultType="com.kfgs.kpmanage.entity.GradeRelation">
        select u1.name as examiner,u2.name as candidate,r.type,r.groups
        from grade_relation r
        left join grade_userinfo u1 on u1.id=r.examiner
        left join grade_userinfo u2 on u2.id=r.candidate
    </select>

    <!--获取被考核人列表 -->
    <select id="getCandidates" resultType="com.kfgs.kpmanage.entity.GradeUserinfo">
        select distinct r.candidate as id,u.name,u.email,u.position,u.department,u.isdafen,u.hiredate from  GRADE_USERINFO u,GRADE_RELATION r where r.candidate=u.id
        <if test="name !='' ">
            and u.name = #{name}
        </if>
    </select>

    <update id="updateRelation" parameterType="com.kfgs.kpmanage.entity.GradeRelation">
        update grade_relation
        <set>
            <if test="type != null">type =#{type},</if>
            <if test="groups != null">groups =#{groups}</if>
            where examiner=#{examiner} and candidate=#{candidate}
        </set>
    </update>

    <!--批量添加考核关系-->
    <insert id="insertMultiRels" parameterType="java.util.List">
        INSERT INTO GRADE_RELATION(examiner,candidate,type,groups)
        <foreach collection="list" item="item" index="index" separator="union all">
            (
            select
                #{item.examiner},
                #{item.candidate},
                #{item.type},
                #{item.groups}
            from dual
            )
        </foreach>
    </insert>

    <!--获取被考核人列表 -->
    <select id="getCandidateList" resultType="com.kfgs.kpmanage.entity.GradeUserinfo">
        select distinct r.candidate as id,u.name,u.email,u.position,u.department,u.isdafen,u.hiredate from  GRADE_USERINFO u,GRADE_RELATION r where r.candidate=u.id
    </select>

</mapper>
